<?xml version="1.0" encoding="UTF-8"?>

<?define ProductName="Run ++"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" 
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="$(var.ProductName)" Version="!(bind.PackageVersion.MainMSI)" Manufacturer="Henry Zhu" UpgradeCode="85BAF8D6-9917-425E-BEF8-F234ADA9F36E">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLargeLicense">
      <bal:WixStandardBootstrapperApplication LicenseFile="eula.rtf"/>
    </BootstrapperApplicationRef>
    
    <Chain>
      <!-- TODO: Define the list of chained packages. -->
      <!-- <MsiPackage SourceFile="path\to\your.msi" /> -->
      <PackageGroupRef Id="NetFx45Web"/>
      <MsiPackage Id="MainMSI" SourceFile="$(var.RunPlusPlus.Setup.TargetPath)"/>
    </Chain>
  </Bundle>
</Wix>